/**
 * @file
 * Overrides 'Reusable layout' component of system/admin library.
 */

.layout-container {
  margin-right: 1em;
  margin-left: 1em;
}

@media screen and (min-width: 38em) {
  .layout-container {
    margin-right: 3em;
    margin-left: 3em;
  }
  .layout-column + .layout-column {
    padding-left: 3em; /* LTR */
  }
  [dir="rtl"] .layout-column + .layout-column {
    padding-right: 3em;
    padding-left: 0;
  }
}
