//
// @file
// Variables of Seven theme.
//

//
// Typography.
//
$font-family: "Lucida Grande", "Lucida Sans Unicode", "DejaVu Sans", "Lucida Sans", sans-serif;

//
// Colors.
//
$color-fg: #333;
$color-bg: #fff;
$color-link: #0074bd;
$color-hr: #ccc;

//
// Dimensions.
//
$size-input-border: 2px;
