/**
 * @file
 * Inline items.
 */

.container-inline div,
.container-inline label {
  display: inline-block;
}

.form-item > .container-inline {
  margin-top: -0.125em; /* 2px */
  margin-bottom: -0.125em;
}

.form-item > .container-inline > .form-item {
  margin-top: 0.125em;
  margin-bottom: 0.125em;
}
