/**
 * @file
 * Main form styles.
 */

::placeholder {
  color: var(--color-placeholder-fg);
}

fieldset:not(.fieldgroup) {
  background-color: #fcfcfa;
  border-radius: 2px;
  margin: 1em 0;
  padding: 30px 18px 18px;
  min-width: 0;
  position: relative;
}
fieldset:not(.fieldgroup) > legend {
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.08em;
  position: absolute;
  text-transform: uppercase;
  top: 10px;
}
.fieldgroup {
  min-width: 0;
  margin-right: 0;
  margin-left: 0;
}

/**
 * General form item.
 */
.form-item {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
/**
 * When form items are nested in radios or checkboxes group, reduce the default
 * space between them.
 */
.form-radios .form-item,
.form-checkboxes .form-item {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
.form-radios .form-item:first-child,
.form-checkboxes .form-item:first-child {
  margin-top: 0;
}
.form-radios .form-item:last-child,
.form-checkboxes .form-item:last-child {
  margin-bottom: 0;
}
/**
 * When a table row has a single form item, prevent it from adding unnecessary
 * extra spacing. If it has multiple form items, allow spacing between them,
 * overriding Classy.
 */
tr .form-item {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
/* Remove spacing if the form item nested in table is the only child. */
td > .form-item:only-child {
  margin-top: 0;
  margin-bottom: 0;
}

/**
 * Form element label.
 */
.form-item__label {
  display: table;
  font-size: calc(14em / 16); /* 14px */
  line-height: calc(18 / 14); /* 18px */
  margin-top: calc(4em / 14); /* 4px */
  margin-bottom: calc(4em / 14); /* 4px */
  font-weight: bold;
}
.form-item__label[for] {
  cursor: pointer;
}
.form-item__label.option {
  display: inline;
  font-weight: normal;
}
/* Label states. */
.form-item__label.has-error {
  color: var(--color-input-error);
}
.form-item__label.is-disabled {
  color: var(--color-input-fg-disabled);
  cursor: default; /* @todo ...or auto? */
}
.form-item__label.form-required::after {
  content: "";
  vertical-align: super;
  display: inline-block;
  /* Use a background image to prevent screen readers from announcing the text. */
  background-image: url(../../../../misc/icons/ee0000/required.svg);
  background-repeat: no-repeat;
  background-size: var(--size-required-mark) var(--size-required-mark);
  width: var(--size-required-mark);
  height: var(--size-required-mark);
  margin-right: 0.3em;
  margin-left: 0.3em;
}

/**
 * Description.
 */
.form-item__description {
  font-size: calc(12em / 16); /* 12px */
  line-height: calc(17 / 12); /* 17px */
  color: var(--color-description-fg);
  margin-top: calc(6em / 12); /* 6px */
  margin-bottom: calc(6em / 12); /* 6px */
}
/* Description states. */
.form-item__description.is-disabled {
  color: var(--color-input-fg-disabled);
}

/**
 * Error message (Inline form errors).
 */
.form-item__error-message {
  font-size: calc(12em / 16); /* 12px */
  font-weight: normal;
  line-height: calc(17 / 12); /* 17px */
  color: var(--color-input-error);
  margin-top: calc(6em / 12); /* 6px */
  margin-bottom: calc(6em / 12); /* 6px */
}

/**
 * Form actions.
 */
.form-actions {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/**
 * Filter tips.
 *
 * @legacy
 * @todo Not sure that this is the right component for this.
 */
ul.tips {
  margin: 0.2em 0 0 0;
  color: #595959;
  /* font-size: 0.95em; */
}
ul.tips li {
  margin: 0.25em 0 0.25em 1.5em; /* LTR */
}
[dir="rtl"] ul.tips li {
  margin: 0.25em 1.5em 0.25em 0;
}

/**
 * Password module.
 *
 * @legacy
 * @todo These should be in a standalone component file.
 */
.confirm-parent,
.password-parent {
  overflow: visible;
  width: auto;
}

.form-item-options-group-info-identifier,
.form-item-pass .description {
  clear: both;
}

/**
 * Improve form element usability on narrow devices.
 *
 * @legacy
 */
@media screen and (max-width: 600px) {
  .form-actions input,
  .form-wrapper input {
    float: none;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.75em;
    width: 100%;
  }
  .form-actions input:first-child,
  .form-wrapper input:first-child,
  .form-actions label + input,
  .form-wrapper label + input {
    margin-top: 0;
  }
  details summary {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
  }
  .password-strength {
    width: 100%;
  }
  div.form-item div.password-suggestions {
    float: none;
  }
}
