/**
 * @file
 * Checkbox and radio input elements.
 */

/**
 * Form item modifiers.
 */
.form-type--boolean {
  margin-left: 24px; /* LTR */
  line-height: 1.5em;
}
[dir="rtl"] .form-type--boolean {
  margin-right: 24px;
  margin-left: 0;
}

/**
 * Radio and checkbox items that are the child of a form item.
 */
.form-type--boolean .form-boolean {
  float: left; /* LTR */
  margin-left: -24px; /* LTR */
  position: relative;
  top: 0.75em;
  transform: translateY(-50%);
}
[dir="rtl"] .form-type--boolean .form-boolean {
  float: right;
  margin-right: -24px;
  margin-left: 0;
}

.form-type--boolean.form-item--no-label {
  margin-left: 0;
}
[dir="rtl"] .form-type--boolean.form-item--no-label {
  margin-right: 0;
}
.form-type--boolean.form-item--no-label .form-boolean,
[dir="rtl"] .form-type--boolean.form-item--no-label .form-boolean {
  float: none;
  margin-right: 0;
  margin-left: 0;
  position: static;
  transform: none;
}

/**
 * When form items are nested in radios or checkboxes group, reduce the default
 * space between them.
 */
.form-boolean-group .form-type--boolean {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

/**
 * Input appearance.
 */
.form-boolean {
  transition: all var(--speed-transition) ease-in-out 0s, background-image 0s linear 0s;
  appearance: none;
  border: 1px solid var(--color-input-border);
  display: inline-block;
  width: 18px;
  height: 18px;
  background: var(--color-input-bg) no-repeat 50% 50%;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10'xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.18182 6.96572L1.97655 4.64855L1.79545 4.45826L1.61436 4.64855L0.818904 5.48437L0.654878 5.65672L0.818904 5.82907L4.00072 9.17235L4.18182 9.36263L4.36291 9.17235L11.1811 2.00817L11.3451 1.83582L11.1811 1.66347L10.3856 .827651L10.2045 .637365L10.0234 .82765L4.18182 6.96572Z' fill='white' /%3E%3C/svg%3E");
  background-size: 100% 100%;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 0 0 4px transparent;
  vertical-align: text-bottom;
  box-sizing: border-box;
}
.form-boolean--type-radio {
  border-radius: 19px;
  width: 19px;
  height: 19px;
}
.form-boolean:focus {
  box-shadow: 0 0 0 4px var(--color-input-focus-shadow);
}
.form-boolean:hover {
  border-color: var(--color-input-fg);
  box-shadow: inset 0 0 0 1px var(--color-input-fg);
}
.form-boolean:focus:hover {
  box-shadow: 0 0 0 4px var(--color-input-focus-shadow), inset 0 0 0 1px var(--color-input-fg);
}
.form-boolean--type-checkbox:checked {
  background-color: var(--color-input-border-focus);
  border-color: var(--color-input-border-focus);
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.7949219,7.095703 6.1816406,9.601563 12.205078,3.2753906 13.689453,4.8359375 6.1816406,12.724609 2.3105469,8.65625 Z' fill='%23fff'/%3E%3C/svg%3E");
}
.form-boolean--type-radio:checked {
  border-color: var(--color-input-border-focus);
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle r='4.5' cx='8.5' cy='8.5' fill='%23004adc'/%3E%3C/svg%3E");
  box-shadow: inset 0 0 0 1px var(--color-input-border-focus);
}
.form-boolean--type-radio:checked:focus {
  border-color: var(--color-input-border-focus);
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle r='4.5' cx='8.5' cy='8.5' fill='%23004adc'/%3E%3C/svg%3E");
  box-shadow: 0 0 0 4px var(--color-input-focus-shadow), inset 0 0 0 1px var(--color-input-border-focus);
}
.form-boolean--type-checkbox:checked:hover {
  background-color: var(--color-input-fg);
  border-color: var(--color-input-fg);
}
.form-boolean--type-radio:checked:hover {
  border-color: var(--color-input-fg);
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle r='4.5' cx='8.5' cy='8.5' fill='%23222330'/%3E%3C/svg%3E");
  box-shadow: inset 0 0 0 1px var(--color-input-fg);
}
.form-boolean--type-checkbox:active {
  box-shadow: 0 0 0 4px var(--color-input-focus-shadow);
}
.form-boolean:active:hover,
.form-boolean--type-radio:checked:active:hover {
  box-shadow: 0 0 0 4px var(--color-input-focus-shadow), inset 0 0 0 1px var(--color-input-fg);
}
.form-boolean--type-radio:checked:focus:hover {
  border-color: var(--color-input-fg);
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle r='4.5' cx='8.5' cy='8.5' fill='%23222330'/%3E%3C/svg%3E");
  box-shadow: 0 0 0 4px var(--color-input-focus-shadow), inset 0 0 0 1px var(--color-input-fg);
}

/**
 * Error states.
 */
.form-boolean.error {
  background-color: var(--color-input-bg);
  border-color: var(--color-input-border-error);
  box-shadow: inset 0 0 0 1px var(--color-input-border-error);
}
.form-boolean.error:focus {
  box-shadow: 0 0 0 4px var(--color-input-focus-shadow), inset 0 0 0 1px var(--color-input-border-error);
}
.form-boolean.error:hover {
  box-shadow: inset 0 0 0 1px var(--color-input-border-error);
}
.form-boolean.error:focus:hover {
  box-shadow: 0 0 0 4px var(--color-input-focus-shadow), inset 0 0 0 1px var(--color-input-border-error);
}
.form-boolean--type-checkbox.error:checked {
  background-color: var(--color-input-border-error);
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.7949219,7.095703 6.1816406,9.601563 12.205078,3.2753906 13.689453,4.8359375 6.1816406,12.724609 2.3105469,8.65625 Z' fill='%23fff'/%3E%3C/svg%3E");
}
.form-boolean--type-radio.error:checked,
.form-boolean--type-radio.error:checked:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle r='4.5' cx='8.5' cy='8.5' fill='%23d72222'/%3E%3C/svg%3E");
}
.form-boolean.error:checked:hover {
  box-shadow: inset 0 0 0 1px var(--color-input-border-error);
  background-color: var(--color-input-bg);
  border-color: var(--color-input-border-error);
}
.form-boolean--type-checkbox.error:checked:hover {
  background-color: var(--color-input-border-error);
}
.form-boolean.error:checked:focus:hover,
.form-boolean--type-radio.error:checked:focus {
  box-shadow: 0 0 0 4px var(--color-input-focus-shadow), inset 0 0 0 1px var(--color-input-border-error);
  border-color: var(--color-input-border-error);
}
.form-boolean.error:active:hover,
.form-boolean--type-radio.error:checked:active:hover {
  box-shadow: 0 0 0 4px var(--color-input-focus-shadow), inset 0 0 0 1px var(--color-input-border-error);
}

/**
 * Disabled states.
 */
.form-boolean[disabled],
.form-boolean[disabled]:hover,
.form-boolean[disabled].error,
.form-boolean[disabled].error:hover,
.form-boolean--type-radio[disabled]:focus:active,
.form-boolean--type-radio[disabled]:active:hover,
.form-boolean--type-radio[disabled].error:active:hover {
  box-shadow: none;
  background-color: var(--color-input-bg-disabled);
  border-color: var(--color-input-border-disabled);
}
.form-boolean--type-checkbox[disabled]:checked {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.7949219,7.095703 6.1816406,9.601563 12.205078,3.2753906 13.689453,4.8359375 6.1816406,12.724609 2.3105469,8.65625 Z' fill='%2382828c'/%3E%3C/svg%3E");
}
.form-boolean--type-radio[disabled]:checked,
.form-boolean--type-radio[disabled].error:checked {
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle r='4.5' cx='8.5' cy='8.5' fill='%2382828c'/%3E%3C/svg%3E");
}
