/**
 * @file
 * System admin module: Status report.
 *
 * Main status report theming, status report info styles, status report layout
 * and counter styles are provided by the system/base library, see
 *  - system-status-report.css
 *  - system-status-report-general-info.css
 *  - system-status-counter.css
 *  - system-status-report-counters.css
 */

.system-status-report__status-title {
  position: relative;
  vertical-align: top;
  width: 100%;
  padding: 10px 6px 10px 40px; /* LTR */
  box-sizing: border-box;
  font-weight: normal;
  background-color: transparent;
}
[dir="rtl"] .system-status-report__status-title {
  padding: 10px 40px 10px 6px;
}
.system-status-report__status-icon:before {
  content: "";
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  display: block;
  position: absolute;
  left: 12px; /* LTR */
  top: 12px;
}
[dir="rtl"] .system-status-report__status-icon:before {
  left: auto;
  right: 12px;
}
.system-status-report__status-icon--error:before {
  background-image: url(../../images/core/icons/e32700/error.svg);
}
.system-status-report__status-icon--warning:before {
  background-image: url(../../images/core/icons/e29700/warning.svg);
}
.system-status-report__entry__value {
  padding: 1em 0.5em;
}

.cron-description__run-cron {
  display: block;
}
